html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.table-header {
  font-weight: 500;
}
